<form [formGroup]="formGroup">
  <!-- First select with a pre-selected unit being last in the select -->
  <select id="unit" formControlName="unitSelected">
    <option *ngFor="let unit of units" [ngValue]="unit">
      <app-unit [unit]="unit"></app-unit>
    </option>
  </select>
  <label for="unit">Unit</label>

  <!-- Second select with a pre-selected unit not being last in the select -->
  <select id="otherunit" formControlName="otherUnitSelected">
    <option *ngFor="let unit of units" [ngValue]="unit">
      <app-unit [unit]="unit"></app-unit>
    </option>
  </select>
  <label for="otherunit">Unit</label>

</form>
